<%= f.error_messages %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :context_path %>
  <%= f.text_field :context_path %>
</p>

<p>
  <%= f.label :format %>
  <%= f.select :format, [["HTML", "text/html"], ["Text", "text/plain"]] %>
</p>

<p>
  <%= f.label :parent_id %>
  <%= f.select :parent_id, @pages.map { |p| [p.name, p.id] }, :include_blank => true %>
</p>

<p>
  <%= f.check_box :published %>
  <%= f.label :published, "Published?" %>
</p>

<p>
  <%= f.label :body %>
  <%= f.text_area :body %>
</p>

<%= f.submit %>
